MICHAELSGITPROJ/services/AmIRunning_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AmIRunning"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="AmIRunningOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AmIRunningOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AmIRunningOperationRequest">
		<wsdl:part name="parameters" element="tns:AmIRunningOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AmIRunningOperationResponse">
		<wsdl:part name="parameters" element="tns:AmIRunningOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="AmIRunningPortType">
		<wsdl:operation name="AmIRunningOperation">
			<wsdl:input message="tns:AmIRunningOperationRequest"></wsdl:input>
			<wsdl:output message="tns:AmIRunningOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AmIRunningBinding" type="tns:AmIRunningPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AmIRunningOperation">
			<soap:operation soapAction="http://www.talend.org/service/AmIRunningOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AmIRunning">
		<wsdl:port name="AmIRunningPort" binding="tns:AmIRunningBinding">
			<soap:address location="http://localhost:8090/services/AmIRunning" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>